body {
  background-color: #230542;
}

.purple-text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #330662;
  align-items: center;
}

.logo {
  width: auto;
  max-height: 6vh;
}

.bg-style {
  max-height: 85vh;
  width: 100vw;
  object-fit: cover;
  overflow: hidden;
}

.image-container {
  position: relative;
  text-align: center;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#navlist a {
  text-decoration: none;
  width: 150px;
  background-color: #330662;
}

#splitcontainer {
  width: 100vw;
  height: 90vh;
}
.left-column {
  float: left;
  width: 40%;
  height: 90vh;
  background-color: #230542;
  align-content: center;
  align-items: center;
  padding: 10px;
}
.right-column {
  float: right;
  width: 60%;
  height: 90vh;
  background-color: #230542;
  align-content: center;
  align-items: center;
}

.nav-tabs .nav-link.active {
  background-color: #b8b8b8;
  height: 45px;
}

.nav-tabs .nav-link {
  background-color: #c7d0d8;
  border-radius: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #230542;
}

.nav-tabs .nav-link:hover {
  background-color: #ab82c5;
}

.nav-tabs .nav-item {
  width: 50%;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* siderbar */
.sidebar {
  position: fixed;
  top: 0;
  width: 240px;
  left: -240px;
  height: 100%;
  background: #330662;
  transition: all 0.5s ease;
}

.sidebar header {
  font-size: 28px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #330662;
  user-select: none;
  font-family: "Montserrat", sans-serif;
}
.sidebar img{
  margin-left: 30px;
}
.sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: white;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 5px solid transparent;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
  text-decoration: none;
}

.sidebar a.active {
  border-left: 5px solid #ab82c5;
  color: #ab82c5;
}
.sidebar a:hover {
  border-left: 5px solid white;
  color: #ab82c5;
}

.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
}

.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

#check {
  display: none;
}
/* sidebar button */
label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 0px solid #262626;
  margin: -53px 30px;
  font-size: 29px;
  background: #330662;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all 0.5s ease;
}

label #cancel {
  opacity: 0;
  visibility: hidden;
  border: 1px solid #262626;

}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #cancel {
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 860px) {
  .sidebar img{
    height: 24px;
    margin-left: 0;
  }
  .sidebar {
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }

  header,
  #btn,
  #cancel {
    display: none;
  }

  span {
    position: fixed;
    font-size: 12px;
    color: white;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  }

  .sidebar a {
    height: 60px;
  }

  .sidebar a i {
    margin-left: -10px;
  }

  a:hover {
    width: 220px;
    background: inherit;
  }

  .sidebar a:hover span {
    opacity: 1;
    visibility: visible;
  }
}

.dashboard {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: white;
  align-items: center;
}

.standard_button {
  background-color: #330662;
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  transition-duration: 0.4s;
  width:150px
}

.standard_button:hover {
  background-color: #ab82c5;
}

.standard_button2 {
  background-color: #AB82C5;
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  transition-duration: 0.4s;
  width:150px
}

.standard_button2:hover {
  background-color: #A69DB2;
}

nav div form #navSearchBox::placeholder{
  color:white;
}

