{% extends 'users/authenticate.html' %}

{% block loginform %}
<ul class="nav nav-tabs" style="border-bottom: 0">
  <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}"
      style="background-color:#c7d0d8; border-radius: 10px 10px 0px 0px">Sign Up</a></li>
  <li class="nav-item"><a class="nav-link  " href="{% url 'login' %}"
      style="background-color:#a69fb2; border-radius: 10px 10px 0px 0px">Login</a></li>
</ul>
<div class="tab-content ">
  <div class="tab-pane active" id="login">
    <section style="height: 100%; background-color:#a69fb2; border-radius: 0px 0px 10px 10px">
      <div class="container py-2 ">
        <div class="row d-flex justify-content-center align-items-center ">
          <div class="col-16 col-md-10 col-lg-8 col-xl-7 ">
            <div class="card" style="border-radius: 1rem; background-color: #a69fb2; border-width: 0;">
              <form class=" rounded-5 shadow-5-strong p-4" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group form-outline mb-3">
                  <style>
                    input {
                      padding-left: 6px;
                      border-radius: 10px;
                      border-color: #330662;
                    }
                  </style>
                  {{ field }}
                </div>

                {% endfor %}

                {{ form.errors }}
                <button type="submit" class="standard_button fw-bold mt-3">SIGN IN</button>
              </form>
              <div class="d-flex justify-content-around align-items-center ">
                <div>
                  <span class="fw-bold text-black">Forgot your password?</span>
                  <br>
                  <a class="fw-bold text-black" href="{% url 'password_reset_request' %}">Reset your password</a>
                </div>
              </div>
              {% if form.errors %}
                <div>
                  <span class="fw-bold text-black">Have you verified your E-Mail?</span>
                  <br>
                  <a class="fw-bold text-black" href="{% url 'reactivate' %}">Send Verification Email Again</a>
                </div>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}