{% extends 'users/authenticate.html' %}
{% load widget_tweaks %}

{% block signupform %}
<ul class="nav nav-tabs" style="border-bottom: 0">
  <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}"
      style="background-color:#ffffff; border-radius: 5px 5px 0px 0px">Sign Up</a></li>
  <li class="nav-item"><a class="nav-link  " href="{% url 'login' %}"
      style="background-color:#c7d0d8; border-radius: 5px 5px 0px 0px">Login</a></li>
</ul>
<div class="tab-content ">
  <div class="tab-pane active" id="signup">
    <section style="min-height: 350px; background-color:#ffffff; border-radius: 0px 0px 5px 5px">
      <div class="container py-2 ">
        <div class="row d-flex">
          <form class="rounded-5 shadow-5-strong p-4" method="POST">
            {% csrf_token %}
            <style>
              input {
                padding-left: 10px;
                border-radius: 5px;
                border-color: #330662;
                font-size: 18px;
                margin-top: 10px;

              }

              ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #330662;
                opacity: 0.8;
                /* Firefox */
              }
            </style>

            {% with WIDGET_ERROR_CLASS='error' WIDGET_REQUIRED_CLASS='required' %}
            <div class="col">
              {% render_field form.username placeholder='Net ID' %}
            </div>
            <div class="col align-self-center">
              {% render_field form.first_name placeholder='First Name' %}
            </div>
            <div class="col align-self-center">
              {% render_field form.last_name placeholder='Last Name' %}
            </div>
            <div class="col align-self-center">
              {% render_field form.password1 placeholder='Password' %}
            </div>
            <div class="col align-self-center">
              {% render_field form.password2 placeholder='Retype Password' %}
            </div>
            {% endwith %}

            <button type="submit" class="standard_button fw-bold mt-3">REGISTER</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}