django~=4.0.3
gunicorn
psycopg2-binary
dj-database-url
django-heroku
django-dotenv
djangorestframework
django-cors-headers
django-crispy-forms
django-autoslug~=1.9.8
django-multiselectfield
django_private_chat2
django_extensions
pillow~=9.1.0
black
flake8
coverage
coveralls
channels~=3.0.4