{% extends 'base.html' %}
{% block content %}

    <body>
        <center><h1> Reset your password with your details below: </h1></center>
            {% load static %}

            {% if form.p_error != None %}
            {{ form.p_error }}
            {% endif %}

            <form class="bg-white  rounded-5 shadow-5-strong p-5" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group form-outline mb-4">
                {{ field }}
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary btn-block">Set Password</button>
            </form>
    </body>

{% endblock %}