{% extends 'base.html' %}
{% block content %}

    <body>
        <center><h1> Reset your password </h1></center>
        <form action="#" method="post">
            {% csrf_token %}
            {% load static %}
            <form class="bg-white  rounded-5 shadow-5-strong p-5" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group form-outline mb-4">
                {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">Send Password Reset Email</button>
            </form>
        </form>
    </body>

{% endblock %}