{% extends 'users/base.html' %}
{% block content %}

{% include 'users/navbars/navbar.html' %}

    <body>
    <div class="container">
    <div class="row gutters">
        <div class="card h-100" style="transform:translateY(50px)">
            <div class="card-body">
            <div>
                  <h5 class="purple-text"> Reset your password. </h5>
            </div>
            {% load static %}
            <form class="bg-white  rounded-5 shadow-5-strong p-5" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group form-outline mb-4">
                {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="standard_button" style="width:300px">Send Password Reset Email</button>
            </form>
            </div>
        </div>
    </div>
    </div>
    </body>

{% endblock %}