<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn" style="z-index:1"></i>
    <i class="fas fa-times" id="cancel" style="z-index:1"></i>
</label>
<div class="sidebar" style="z-index:1">
    <header>MENU</header>
    <a href="/dashboard" class="active">
        <i class="fas fa-qrcode"></i>
        <span>Dashboard</span>
    </a>
    <a href="#">
        <i class="fas fa-user-friends"></i>
        <span>My Friends</span>
    </a>
    <a href="#">
        <i class="fas fa-user-plus"></i>
        <span>Friend Finder</span>
    </a>
    <a href="#">
        <i class="fas fa-comment"></i>
        <span>Chat</span>
    </a>
    <a href="#">
        <i class="far fa-star-half-stroke"></i>
        <span>Activities</span>
    </a>
    <a href="/dashboard/preferences">
        <i class="fas fa-gear"></i>
        <span>Preferences</span>
    </a>
</div>
