{% load static %}

<input type="checkbox" id="check">

<label for="check">
    <i class="fas fa-bars " id="btn" style="z-index:5"></i>
    <i class="fas fa-times " id="cancel" style="z-index:5"></i>
</label>

<div class="sidebar" style="z-index:5">
    <img src="{% static 'images/logo_white.png' %}" height="60" alt="logo pic" id="sidebarlogo">
    <a href="/dashboard" class="active">
        <i class="fa-solid fa-chalkboard-user"></i>
        <span>Dashboard</span>
    </a>
    <a href="/dashboard/my_friends">
        <i class="fas fa-user-friends"></i>
        <span>My Friends</span>
    </a>
    <a href="#">
        <i class="fas fa-user-plus"></i>
        <span>Friend Finder</span>
    </a>
    <a href="{% url 'chat' %}">
        <i class="fas fa-comment"></i>
        <span>Chat</span>
    </a>
    <a href="#">
        <i class="fas fa-star-half-stroke"></i>
        <span>Activities</span>
    </a>
    <a href="/dashboard/preferences">
        <i class="fas fa-gear"></i>
        <span>Preferences</span>
    </a>
    <a href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
    </a>
</div>