{% extends 'users/dashboard_base.html' %}
{% load static %}

{% block body %}

<body>

<div class="container-md">
    <!-- 1st row -->
    <div class="row">
        <div class="col mt-3">
            <!-- <h2 class="fw-bold"> Preferences </h2> -->
        </div>
    </div>
<section>
        <div class="row ">
            <h4>Blocked contacts</h4> 
            {% if blocked.length == 0 %}
            console.log(blocked.count)
            <h5 style="color:#ab82c5;"> You have not blocked any contacts! </h5>
            {% else %}
                {% for user in blocked %}
                    <div class="col-sm-2 mt-2 mb-2">
                        <!-- card component -->
                        <div class="card  justify-content-center text-center"
                            style=" height: 18rem; background-color: #57068c; border-radius: 10px;" >
                            <img src="{{user.profile.image.url}}" height="200s" class="card-img-top rounded-circle p-3" alt="user_pic">
                            <div class="card-body">
                                <h5 class="card-title"> {{user.first_name}} {{user.last_name}} </h5>
                                <!-- <p> {{user}}</p> -->
                                 <p hidden id="friendUnblockedConfirm{{user.id}}" class="standard_button fw-bold" style="margin-bottom:10px;">
                                </p>
                                <a type="button"  id="friendUnblock{{user.id}}" onclick="unblock({{user.id}})" class="standard_button fw-bold" style="margin-bottom:10px;"> Unblock</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
    <!-- {% for user in blocked %}
        {{ user }}
        <button id="unblock{{user.id}}" onclick="unblock({{user.id}})" class="standard_button fw-bold">Unblock</button>
    {% endfor %} -->

</div>

<script>
var token = "{{csrf_token}}";

function unblock(id) {
    let data = {};
    data["unblock"] = id;
    let url = "{% url 'unblock' %}";
    $.ajax({
      headers: { "X-CSRFToken": token },
      method: "POST",
      url: url,
      data: data,
    }).done(function (msg) {
        document.getElementById("friendUnblock" + id).style.display = "none";
        document.getElementById("friendUnblockedConfirm" + id).innerHTML =
        "Unblocked " + `<i class="fa-solid fa-circle-check fa-1x" style="color:white"></i>`;
        document.getElementById("friendUnblockedConfirm" + id).hidden = false;
    });
}
</script>

</body>

{% endblock %}