{% extends 'users/dashboard_base.html' %}
{% load static %}

{% block body %}
<body >
    
<style>
    h4{
        font-size: large; color: #ab82c5;
    }
    div #linebreak{  /*hr tag*/
        height:3px; width:100%; border-width:0; color:#8548ad; background-color:#8548ad"
    }
</style>
<!-- --- -->

 <div class="container-md">
     <!-- 1st row -->
    <div class="row">
        <div class="col mt-3">
            <h2 class="fw-bold"> Preferences </h2>
        </div>
    </div>

    <hr id="linebreak">
    {% if user.is_authenticated %}

    <!-- 2nd row -->
    <div class="row">
        <div class="col-6">
            <h3 class="fw-bold fs-4"> Profile 
                <a href="#">
                    <i class="fa-solid fa-pen-to-square fw-normal fs-5" style="color: white;"></i>
                </a>
            </h3>

            <!-- inner col and row -->
            <div class="row row-cols-auto">
               <div class="col">
                    <h4 >{{ user.first_name }} </h4>
                </div>
                <div class="col">
                    <h4 >{{ user.last_name }}</h4>
                </div>
            </div>
                <!-- 3rd row -->
            <div class="row">
                <h4>NetID: {{user.username}}</h4>
            </div>
            <!-- inner end -->
        </div>

        <div class="col-4">
            <!-- placeholder for now -->
            <h4></h4>
        </div>

        <div class="col">
            <a style="color:white" href="#" id="id_profilepic" role="button" >
                <!-- Currently using our logo as placeholder -->
                <img src="{% static 'favicon.ico' %}" height="100" alt="user pic upload" >
            </a>
        </div>
    </div>
    
    <hr id="linebreak">

    <!-- 3rd row -->
    <div class="row">
        <div class="col">
            <h3 class="fw-bold  fs-4" > Preferences
                <a href="/preferences/page1">
                    <i class="fa-solid fa-pen-to-square  fw-normal fs-5" style="color: white;"></i>
                </a>

                <!-- testing on getting data, .items list on the 'columns in the prefs table' -->
                    <!--{% for key,value in prefs.items %}
                            {% if key != "id" and key != "user" %}
                                <h4>{{ value }}</h4>
                            {% endif %}
                        {% endfor %} -->

                <h4 id="prefList">
                Introverted/Extroverted: {{prefs.personality_type}} <br>
                Rather Stay In or Go Out: {{prefs.stay_go_type}} <br>
                Favorite Movie Types: {{prefs.movie_choices}} <br>
                Favorite Music Genres: {{prefs.music_choices}} <br>
                Favorite Cuisines: {{prefs.food_choices}} <br>
                Favorite Places to Travel: {{prefs.travel_choices}} <br>
                Favorite Artistic Activities: {{prefs.art_choices}} <br>
                Favorite Dance Genres: {{prefs.dance_choices}} <br>
                Favorite Sports: {{prefs.sports_choices}} <br>
                Favorite Things to Do in NYC: {{prefs.nyc_choices}}
                </h4>
            </h3>
        </div>
    </div>

    {% endif %}
 
 </div>
 <script>
     function testReplace(){
        document.body.innerHTML
                = document.body.innerHTML
                .replace("Introverted/Extroverted:", "IE");
     }
 </script>
</body>

{% endblock %}