{% extends 'users/dashboard_base.html' %}
{% load static %}

{% block body %}
<style>
.col-md-4-5 {
    width: 20%;
  }

.card{
    background-color: #5e18a8;
}
a:link, a:visited, a:hover, a:focus, a:active{
  color:#e3c6f5;
}


</style>
<section>
    <div class="container-sm mt-3">
        <div class="d-flex me-4">
            <ul class="navbar-nav standard_button">
                <!-- dropdown icon menu -->
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" style="color:white" href="#" id="activity-dropdown" value="all"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false"> All Categories
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDashDropdown">

                        <li onclick="changeCategory('all')">
                            <a class="dropdown-item">
                                <i class="fa-solid fa-circle-check" style="color:#230542"></i>
                                <span class="purple-text" style="font-size:12pt; position:absolute; transform:translate(15px)"> All Categories </span>
                            </a>
                        </li>

                        <li> <hr class="dropdown-divider"> </li>

                        <li onclick="changeCategory('festivals-fairs')">
                            <a class="dropdown-item">
                                <i class="fa-solid fa-tent" style="color:#230542"></i>
                                <span class="purple-text" style="font-size:12pt; position:absolute; transform:translate(15px)"> Festivals </span>
                            </a>
                        </li>

                        <li> <hr class="dropdown-divider"> </li>

                        <li onclick="changeCategory('film')">
                            <a class="dropdown-item">
                                <i class="fas fa-film" style="color:#230542"></i>
                                <span class="purple-text" style="font-size:12pt; position:absolute; transform:translate(15px)"> Film </span>
                            </a>
                        </li>

                        <li> <hr class="dropdown-divider"> </li>

                        <li onclick="changeCategory('food-and-drink')">
                            <a class="dropdown-item">
                                <i class="fas fa-cutlery" style="color:#230542"></i>
                                <span class="purple-text" style="font-size:12pt; position:absolute; transform:translate(15px)"> Food & Drink </span>
                            </a>
                        </li>

                        <li> <hr class="dropdown-divider"> </li>

                        <li onclick="changeCategory('nightlife')">
                            <a class="dropdown-item">
                                <i class="fa-solid fa-martini-glass" style="color:#230542"></i>
                                <span class="purple-text" style="font-size:12pt; position:absolute; transform:translate(15px)"> Nightlife </span>
                            </a>
                        </li>

                        <li> <hr class="dropdown-divider"> </li>

                        <li onclick="changeCategory('music')">
                            <a class="dropdown-item">
                                <i class="fa-solid fa-music" style="color:#230542"></i>
                                <span class="purple-text" style="font-size:12pt; position:absolute; transform:translate(15px)"> Music </span>
                            </a>
                        </li>

                        <li> <hr class="dropdown-divider"> </li>

                        <li onclick="changeCategory('sports-active-life')">
                            <a class="dropdown-item">
                                <i class="fa-solid fa-futbol" style="color:#230542"></i>
                                <span class="purple-text" style="font-size:12pt; position:absolute; transform:translate(15px)"> Sports </span>
                            </a>
                        </li>

                        <li> <hr class="dropdown-divider"> </li>

                        <li onclick="changeCategory('visual-arts')">
                            <a class="dropdown-item">
                                <i class="fa-solid fa-paintbrush" style="color:#230542"></i>
                                <span class="purple-text" style="font-size:12pt; position:absolute; transform:translate(15px)"> Visual Arts </span>
                            </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>

        <div class="row " id="events">
        </div>
        
    </div>
</section>

<script type = "text/JavaScript" src ="https://MomentJS.com/downloads/moment-with-locales.js"></script>
<script type="text/javascript">
    var token = '{{csrf_token}}';
    var categories = {
    'all': 'All Categories ',
    'music': 'Music ',
    'food-and-drink': 'Food and Drink ',
    'film': 'Film ',
    'festivals-fairs': 'Festivals ',
    'sports-active-life': 'Sports ',
    'nightlife': 'Nightlife ',
    'visual-arts': 'Visual Arts '
    };

    window.onload = function() {
         
        let data = {};
        let url = "{% url 'activity_search' %}";
        $.ajax({
            method: "GET",
            url: url,
            data: data,
        }).then(function(response){
            for(let object of response ){
                let event_image= `<img src="${object.image_url}" height="180" class="card-img-top"
                alt="event_pic" style="width:25%"</img>`
                let description= `<p>${object.description}</p>`
                let location = `<p>Location: ${object.location.display_address}</p>`

                let start = `${object.time_start}`
                let start_sub = start.substring(0,19) + ".000Z";
                let start_time = `<p> ${moment.utc(start_sub).format('MMMM Do YYYY, h:mm:ss a')}</p>`;

                let name = `<h4><a href="${object.event_site_url}" target="_blank">${object.name}</a></h4>`
               // $("#events").append(event_image, name, description, location, start_time)
                let end = `${object.time_end}`
                if (end !== 'null'){
                    let end = `${object.time_end}`
                    let end_sub = end.substring(0,19) + ".000Z";
                    let end_time = `<p> ${moment.utc(end_sub).format('MMMM Do YYYY, h:mm:ss a')}</p>`;
                  //  $("#events").append(end_time)
                } 

                //Card template:
                let cardTemplate = 
                `
                <div class="container-md mt-3">
                    <div class="row " id="events">
                        <div class="col-md-4 col-md-4-5">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="${object.image_url}" alt="Card image cap">
                                <div class="card-body">
                                <h4 class="card-title">${name}</h4>
                                <div class="row">
                                 <i class="fa fa-calendar" aria-hidden="true" style='font-size:23px'></i>
                                 <p> ${start_time}</p>
                                 </div>
                                 <div class="row">
                                 <i class="fas fa-map-marker-alt" aria-hidden="true" style='font-size:23px'></i>
                                <p> ${location} </p>
                                <p class="card-text">${description}</p>

                            </div>
                        </div>
                    </div>
                </div>
                `
                // Concat the card here:
                document.getElementById('events').innerHTML += cardTemplate;

            }

        });

        // from navDash notification
        let dataBell = {};
        dataBell["user"] = "{{user}}";

        let urlBell = "{% url 'notification_count' %}";
        $.ajax({
            method: "GET",
            url: urlBell,
            data: dataBell, 
        }).done(function(msg) {
            var count = parseInt(msg);
            if (count===0){
                document.getElementById('bell').style.display='none';
            }
            else{
                $('#bell').text(count);
            }
        });
    }

    // button label swapping
    function changeCategory(category) {
        document.getElementById('activity-dropdown').innerHTML = categories[category];
        document.getElementById('activity-dropdown').value = category;
        search();
    }

    //When picked Category
    function search() {
        selected_category = document.getElementById('activity-dropdown').value
        console.log(selected_category)

        let data = {};
        data['category'] = selected_category;

        let url = "{% url 'activity_search' %}";

        $.ajax({
            headers: { "X-CSRFToken": token },
            method: "GET",
            url: url,
            data: data
        }).done(function (msg) {
            console.log(msg);
        }).then(function(response){
            //clear initial innerHTML
            document.getElementById('events').innerHTML = "";

            //card & event creation
            for(let object of response){
                let event_image= `<img src="${object.image_url}" height="180" class="card-img-top"
                alt="event_pic" style="width:25%"</img>`
                let description= `<p>Description: ${object.description}</p>`
                let location = `<p>Location: ${object.location.display_address}</p>`

                let start = `${object.time_start}`
                let start_sub = start.substring(0,19) + ".000Z";
                let start_time = `<p> ${moment.utc(start_sub).format('MMMM Do YYYY, h:mm:ss a')}</p>`;

                let name = `<h4><a href="${object.event_site_url}" target="_blank">${object.name}</a></h4>`
               // $("#events").append(event_image, name, description, location, start_time)
                let end = `${object.time_end}`
                if (end !== 'null'){
                    let end = `${object.time_end}`
                    let end_sub = end.substring(0,19) + ".000Z";
                    let end_time = `<p> ${moment.utc(end_sub).format('MMMM Do YYYY, h:mm:ss a')}</p>`;
                //    $("#events").append(end_time)
                } 

                //$("#events").append(name)
                //$("#events").append(description)
                //$("#events").append(location)
                //$("#events").append(start_time)
                //$("#events").append(end_time)
                
                //Card template:
                let cardTemplate = 
                `
                <div class="container-md mt-3">
                    <div class="row " id="events">
                        <div class="col-md-2 col-md-2-5">
                            <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="${object.image_url}" alt="Card image cap">
                                <div class="card-body">
                                <h4 class="card-title">${name}</h4>
                                <div class="row">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <p> ${start_time}</p>
                                 </div>
                                 <div class="row">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <p> ${location} </p>
                                <p class="card-text">${description}</p>

                            </div>
                        </div>
                    </div>
                </div>
                `
                // Concat the card here:
                document.getElementById('events').innerHTML += cardTemplate;
            }
        });
    }
</script>

{% endblock %}