{% extends 'users/base.html' %}
{% load static %}

{% block content %}

<header>{% include 'users/navbars/navbar.html' %}</header>

<body>
    <div id="splitcontainer">
        <div class="left-column">
            <img style="border-radius: 5px; max-height: 100%; min-width: 100%; object-fit: cover;"
                src="{% static 'images/login_photo.jpg' %}" />
        </div>
        <div class="right-column">
            <div class="row d-flex justify-content-center align-items-center" style="min-height: 100%; text-align: center;">
                <div class="card"
                    style="border-radius: 5px; max-width: 75%; background-color: #230542;">
                    {% block loginform %}
                    {% endblock %}
                    {% block signupform %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="d-flex p-1" style="background-color: #230542 "></div>
</footer>
{% endblock %}