{% extends 'users/dashboard_base.html' %}

{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/pref_css.css' %}">

<style>
	.profile-pic {
		max-width: 200px;
		max-height: 200px;
		margin: 0 auto;
		border-radius: 50%;
		margin-top: 20px;
		margin-left: 321px;
	}
</style>

<br>

<div class="container">
	<div class="row gutters">
		<div class="card h-100" style="transform:translateY(50px)">
			<div class="card-body" style="align-items: center">


				<div class="title">
					<h2> Edit Profile </h2>
				</div>

				<div class="account-settings">
					<div class="user-profile">
						<div class="col-md-3">
							<img class="profile-pic" src="{{request.user.profile.image.url}}">
						</div>
						<p class="purple-text"> {{user.first_name}} {{user.last_name}}</p>
						<p class="purple-text"> {{user.username}}@nyu.edu </p>
					</div>

				</div>
				<form class=" rounded-5 shadow-5-strong p-4" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<style>
						label {
							font-family: "Montserrat", sans-serif;
							font-size: 1.4rem;
							color: #330662;
							font-size: 20px;
							align-items: center;
						}

						input {
							padding-left: 6px;
							width: 400px;
							border-radius: 10px;
							border-color: #330662;
						}
					</style>
					{{form.as_p}}
					{{ form.errors }}
					<div class="form-row">
						<div style="text-align: center;">
							<button type="submit" class="standard_button"> Submit </button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}