{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<header>
  {% include 'users/navbars/navbar.html' %}
</header>

<body>
  <div class="image-container">
    <img class="bg-style" src="{% static 'images/nyu_night.jpg' %}" />
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)"></div>
    <div class="centered">
      <img src="{% static 'images/full_light.png' %}" />
      <br />
      <div class="text-white" style="transform: translateX(10px)">
        <h3 class="mb-4">An all-in-one place for NYU Students to connect!</h3>
      </div>
      <ul id="navlist">
        <li>
          <a class="text-white text-center btn btn-dark btn-lg" href="{% url 'signup' %}">Signup</a>
        </li>
        <li>
          <a class="text-white text-center btn btn-dark btn-lg" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
    </div>
  </div>
</body>
<section class="about-us pt-5 " id="about-us">
    <div class="container mt-5">
	<div class="row">
		<div class="col-md-6">
		    <h1 style="color:white; font-weight: bold; padding-top: 80px;"> Welcome to NYUnite!</h1>
		    <h2 style="color: #ab82c5; ">About Us</h2>
		    <hr>
		    <p id="about_us">NYUnite is a platform that helps the NYU community to come together, engage, and connect with individuals across all departments, schools, class year, just everywhere;</p>
		    <p id="about_us">A one-stop shop for like minded NYU Students to engage and connect easily with no hassles; that’s NYUnite.</p>
            <p id="about_us">Based on your interests and preferences, we provide recommendations, and you can choose to accept or decline it. If you and a student are matched, you can start chatting and share your passion. <p>


		</div>
		    <div class="col-lg-6 d-none d-lg-block">
            <img src="{% static 'images/NYUnite_home.png' %}" alt="About_NYUnite" class="img-fluid" style="width:800px; height:618px;">
            </div>
		
	</div>
</div>
</section>
<div class="container">
        <h1 class="center mx-auto text-center py-4 fw-bold" style="color:white;">Team Sprintsters</h1>
       
	   <div class="col-md-9">
                        <div class="row flex-nowrap">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                         <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Akshat Shah</h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                        <li><a href="https://www.linkedin.com/in/akshatshah17/" target="_blank" class="fab fa-linkedin-in ml-5"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Daryl Chung</h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/daryl-chung-097868121/" target="_blank" class="fab fa-linkedin-in"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Regan Bragg</h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/regan-bragg/" target="_blank" class="fab fa-linkedin-in"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Tamanna Manek</h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/tm0407/" target="_blank" class="fab fa-linkedin-in"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="our-team">
                                    <div class="pic">
                                        <img src="https://i.ibb.co/L8Pj1mg/o6EuTCT6.jpg">
                                    </div>
                                    <div class="team-content">
                                        <h3 class="title">Tejas Sateesh</h3>
                                        <span class="post">Software Developer</span>
                                    </div>
                                    <ul class="social">
                                          <li>  <a href="https://www.linkedin.com/in/tejassateesh/" target="_blank" class="fab fa-linkedin-in"></a></li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>

        </div>
    </div>
</div>
<footer>
  <div class="d-flex p-4" ></div>
</footer>
{% endblock content %}