{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<header>
  {% include 'users/navbars/navbarH.html' %}
</header>

<body>
  <div class="image-container">
    <img class="bg-style" src="{% static 'images/nyu_night.jpg' %}" />
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)"></div>
    <div class="centered">
      <img src="{% static 'images/full_light.png' %}" />
      <br />
      <div class="text-white" style="transform: translateX(10px)">
        <h3 class="mb-4">An all-in-one place for NYU Students to connect!</h3>
      </div>
      <ul id="navlist">
        <li>
            <a class="text-white text-center btn btn-dark btn-lg" style="text-decoration: none;"  href="/signup">Signup</a>
        </li>
        <li>
            <a class="text-white text-center btn btn-dark btn-lg" style="text-decoration: none;" href="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</body>

<footer>
  <div class="d-flex p-4" style="background-color: #57068c"></div>
</footer>
{% endblock content %}
