{% extends 'users/base.html' %}
{% load static %}


{% block title %}
Signup
{% endblock %}

{% block style %}
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
/* background-color: antiquewhite; */
background: rgb(192, 222, 226);
}
.row{
background-color: white;
border-radius: 30px;
box-shadow: 2px 2px 2px;
}
.btn1{
border: none;
outline: none;
height: 50px;
width: 70%;
background-image: linear-gradient(to right, #9b06b9 0%, #ec94e8 51%, #2da2f0 100%);
color: white;
border-radius: 4px;
font-weight: bold;
}
.btn1:hover{
border: 1px solid black ;
color: white;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

.img-fluid {
    max-width: 100%;
    height: auto;
    
}
{% endblock %}
{% block content %}
<section class="Form my-4 mx-5">
   <div class="container">
      <div class="row no-gutters">
         <div class="col-lg-5 p-5">
            <img src="{% static 'images/nyu1.jpg' %}" class="img-fluid" alt="signup">
         </div>
         <div class="col-lg-7 px-5 pt-5">
            <h1 class="font-weight-bold py-8">NYUnite</h1>
            <h3> Sign up</h3>
            <form class="bg-white  rounded-5 shadow-5-strong p-5" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group form-outline mb-3">
                    {{ field }}
                </div>
                {% endfor %}

                {{ form.errors }}
               <div class="form-row">
                  <div class="col-lg-5">
                     <button type="submit" class="btn1 mt-3 mb-1">Register</button>
                  </div>
               </div>
               <p>Already a user? <a href="{% url 'login' %}">Login</a></p>
            </form>
         </div>
      </div>
   </div>
</section>
{% endblock %}



























<!-- <div id="intro" class="bg-image shadow-2-strong">
    <div class="mask align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-md-8">
                    <form class="bg-white  rounded-5 shadow-5-strong p-5" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group form-outline mb-4">
                            {{ field }}
                        </div>
                        {% endfor %}

                        {{ form.errors }}

                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->

