{% extends 'users/dashboard_base.html' %}
{% load static %}

{% block body %}
<style>
  .user-pic {
    max-width: 120px;
    max-height: 90px;
    margin-left: 15px;
    margin-top: 15px;
    ;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .col-md-2-5 {
    width: 20%;
  }

  div #linebreak {
      /*hr tag*/
      height: 3px;
      width: 100%;
      border-width: 0;
      color: #8548ad;
      background-color: #8548ad;
  }
  .modal-body span {
        color: #57068c;
        font-weight: bold;
  }

  .modal-body #prefValue {
      color: #230542;
  }
</style>

<section>
  <div class="container-md mt-3">
    <!-- <h1 class="fw-bold"> My Friends </h1> -->
    <h3>Invitations</h3>
    <div class="d-flex align-items-start flex-column">
      {% if invitations.count == 0 %}
      <h5 style="color:#ab82c5;"> You have no pending requests! </h5>
      {% else %}
      {% for invite in invitations %}
      <div class="container" style="background-color: #57068c; border-radius: 10px; margin-bottom: 15px;">

        <div class="row">
          <!-- modal on img -->
          <img src="{{ invite.from_user.profile.image.url }}" class="user-pic" height="150" alt="user pic"
            style="height:100px; width:100%; object-fit:cover; border-radius:50%"
            id="friendviewpref{{user.id}}" value="{{user.id}}" name="friendviewpref{{user.id}}" data-bs-toggle="modal" data-bs-target="#viewSearchPref{{user.id}}"
            type="button">
          <div class="col d-flex flex-column mt-3 ">

            <div class="col fw-bold" style="padding-left:75px;">
              <span>{{invite.from_user.first_name}} </span>
              <span>{{invite.from_user.last_name}}</span>
            </div>
            <div class="col" style="padding-left:75px;">
              <p>{{invite.from_user.username}}@nyu.edu</p>
            </div>
            <div class="col" style="padding-left:75px;">
              <p>{{invite.from_user.profile.bio}}</p>
            </div>
          </div>
          <div class="col-4 d-flex flex-column ">
            <div class="row align-top">
              <div class="col-sm d-flex justify-content-end pt-3 mt-4 mb-3 ">
                <button id="declineRequest{{invite.from_user.id}}" value="{{invite.from_user.id}}" name="declineRequest"
                  onclick="declineRequest({{invite.from_user.id}})" class="standard_button fw-bold">Decline</button>
              </div>
              <div class="col-sm d-flex justify-content-start align-items-start pt-3 mt-4 mb-3">
                <p id="requestAccepted{{invite.from_user.id}}"></p>
                <div>
                  <button id="acceptRequest{{invite.from_user.id}}" value="{{invite.from_user.id}}" name="acceptRequest"
                    onclick="acceptRequest({{invite.from_user.id}})" class="standard_button fw-bold">Accept</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Modal -->
        <div class="modal fade text-black" id="viewSearchPref{{user.id}}" tabindex="-1" role="dialog"
          aria-labelledby="View-Serach-Profile" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"
                          style="border-radius: 10px; background-color:#57068c ; opacity: 1;">
                      </button>
                  </div>

                  <div class="modal-body">
                      <div class="container-sm">
                          <div class="row">
                              <div class="col d-flex justify-content-center">
                                  <img src="{{ invite.from_user.profile.image.url }}" alt="user pic upload"
                                      style="height:100px; width:100px; object-fit:cover; border-radius:50%">
                              </div>
                          </div>
                          <div class="row">
                              <div class="col d-flex justify-content-center fw-bold fs-3" style="color:#57068c ;">
                                  <span id="userFirstName">{{invite.from_user.first_name}} </span> &nbsp;
                                  <span> {{invite.from_user.last_name}}</span>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col d-flex justify-content-center fs-6" style="color:#230542 ;">
                                  <p>{{invite.from_user.email}}</p>
                              </div>
                          </div>
                      </div>

                      <!-- User pref -->
                      <span>Introverted/Extroverted:</span> <span
                          id="prefValue">{{invite.from_user.preference.personality_type}}</span><br>
                      <span>Rather Stay In or Go Out:</span> <span id="prefValue">{{invite.from_user.preference.stay_go_type}}</span><br>
                      <span>Favorite Movie Types:</span> <span id="prefValue">{{invite.from_user.preference.movie_choices}}</span><br>
                      <span>Favorite Music Genres:</span> <span id="prefValue">{{invite.from_user.preference.music_choices}}</span><br>
                      <span>Favorite Cuisines:</span> <span id="prefValue">{{invite.from_user.preference.food_choices}}</span><br>
                      <span>Favorite Places to Travel:</span> <span
                          id="prefValue">{{invite.from_user.preference.travel_choices}}</span><br>
                      <span>Favorite Artistic Activities:</span> <span
                          id="prefValue">{{invite.from_user.preference.art_choices}}</span><br>
                      <span>Favorite Dance Genres:</span> <span id="prefValue">{{invite.from_user.preference.dance_choices}}</span><br>
                      <span>Favorite Sports:</span> <span id="prefValue">{{invite.from_user.preference.sports_choices}}</span><br>
                      <span>Favorite Pets:</span> <span id="prefValue">{{invite.from_user.preference.pet_choices}}</span><br>
                      <span>Favorite Things to Do in NYC:</span> <span
                          id="prefValue">{{invite.from_user.preference.nyc_choices}}</span><br>
                  </div>

                  <div class="modal-footer justify-content-center">
                      <!-- <p hidden id="requestSentModal{{user.id}}" class="standard_button" style="width: 200px; height: 40px;">
                      </p>
                        <div>
                          {% if invite.from_user.id in friend_list %}
                          {% else %}
                          <button id="friendRequest{{user.id}}" value="{{user.id}}" onclick="friendRequest({{user.id}})"
                              name="friendRequest" class="standard_button friend_request{{user.id}}"
                              style="width: 200px; height: 40px;">Accept Friend Request</button>
                          {% endif %}
                        </div> -->
                  </div>
              </div>
          </div>
        </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  </div>
</section>



<section>
  <div class="container-md mt-3">
    <hr id="linebreak">

    <h3> My Friends </h3>
    {% if friends.count == 0 %}
    <h5 style="color:#ab82c5;"> You haven't added any friends yet! </h5>
    {% else %}

    <div class="row ">
      {% for frnd in friends %}
      <div class="col-md-2-5 d-flex flex-wrap">
        <div class="card  justify-content-center text-center"
          style=" height: 17rem; width:15rem; background-color: #57068c;  border-radius:10px; padding:6px;">
          
          <!-- icons -->
          <div class="col-sm d-flex align-items-start justify-content-between mt-4 p-1">

                <ul class="navbar-nav ">
                <!-- dropdown icon menu -->
                <li class="nav-item dropdown">
                    <a style="color:white" id="navbarDashDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i type="button" value="{{frnd.user.id}}" name="report"
                        class="fas fa-flag fa-xl" style="color:#AB82C5"> </i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDashDropdown">
                        <li> <a class="dropdown-item" type=button onclick="block({{frnd.user.id}})">
                            <i class="fa-solid fa-ban" style="color:#230542"></i>
                            <span class="purple-text"
                                  style="font-size:12pt; position:absolute; transform:translate(15px)"> Block
                                </span>
                        </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li><a class="dropdown-item">
                            <i class="fa-solid fa-exclamation" style="color:#230542"></i>
                            <span class="purple-text"
                                  style="font-size:12pt; position:absolute; transform:translate(15px)"> Report
                                </span>
                        </a>
                        </li>

                    </ul>
                </li>

            </ul>

            {% if frnd in favorites %}
              <i type="button" id="favorite{{frnd.user.id}}" value="{{frnd.user.id}}" name="favorite"
                onclick="favorite({{frnd.user.id}})" class="fas fa-star fa-xl" style="color:#ffffff"> </i>
            {% else %}
              <i type="button" id="favorite{{frnd.user.id}}" value="{{frnd.user.id}}" name="favorite"
                onclick="favorite({{frnd.user.id}})" class="fas fa-star fa-xl" style="color:#AB82C5"> </i>
            {% endif %}
          </div>

          <img src="{{ frnd.user.profile.image.url }}" height="130" class="card-img-top rounded-circle p-1"
            alt="user pic" style="margin-left:17%; width:65%">

          <div class="card-body align-bottom" style="padding: 10px;">
            <h5 class="card-title" style="padding-bottom:10px;">{{frnd.user.first_name}} {{frnd.user.last_name}}</h5>

              <a type="button" href="{% url 'chat' %}" class="standard_button" style="margin-bottom:20px;"> Chat</a>
          </div>

        </div>
        <hr id="linebreak" style="width:15rem;">
      </div>
      {% endfor %}

    </div>
    {% endif %}

  </div>
</section>

<script type="text/javascript">
  var token = "{{csrf_token}}";

  function acceptRequest(id) {
    let data = {};
    data["acceptRequest"] = id;
    let url = "{% url 'accept_request' %}";
    $.ajax({
      headers: { "X-CSRFToken": token },
      method: "POST",
      url: url,
      data: data,
    }).done(function (msg) {
      // When the request is accepted
      document.getElementById("acceptRequest" + id).style.display = "none";
      document.getElementById("requestAccepted" + id).innerHTML =
        "Friend Request Accepted! " +
        `<i class="fa-solid fa-circle-check fa-1x" style="color:white"></i>`;
      document.getElementById("declineRequest" + id).style.display = "none";
    });
  }

  function declineRequest(id) {
    console.log(id);
    let data = {};
    data["declineRequest"] = id;
    let url = "{% url 'decline_request' %}";
    $.ajax({
      headers: { "X-CSRFToken": token },
      method: "POST",
      url: url,
      data: data,
    }).done(function (msg) {
      // When the request is accepted
      document.getElementById("acceptRequest" + id).style.display = "none";
      document.getElementById("declineRequest" + id).style.display = "none";
      document.getElementById("requestAccepted" + id).innerHTML =
        "Friend Request Rejected! " +
        `<i class="fa-solid fa-times-circle fa-1x" style="color:white"></i>`;
    });
  }

  function favorite(id) {
    let data = {};
    data["favorite"] = id;
    let url = "{% url 'favorite' %}";
    $.ajax({
      headers: { "X-CSRFToken": token },
      method: "POST",
      url: url,
      data: data,
    }).done(function (msg) {
        my_element = document.getElementById("favorite" + id)
        let bgColor = my_element.style.color;
        if (bgColor == "rgb(255, 255, 255)" ){
            my_element.style.color = "rgb(171, 130, 197)"
        }
        else {
            my_element.style.color = "rgb(255, 255, 255)"
        }
    });
  }

  // function for report here:
  function block(id) {
    let data = {};
    data["blocked"] = id;
    let url = "{% url 'block' %}";
    $.ajax({
      headers: { "X-CSRFToken": token },
      method: "POST",
      url: url,
      data: data,
    }).done(function (msg) {
        console.log('done');
    });
  }

</script>

{% endblock %}