{% extends 'users/dashboard_base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/pref_css.css' %}">

<div class="container">
   <div class="row gutters">
      <div class="card h-100" style="transform:translateY(50px)">
         <div class="card-body">
            <div class="title"> <h2 >Add Preferences</h2> </div>
            <div class="account-settings">
               <form class="rounded-5 shadow-5-strong p-5" method="post">
                  <div>
                  <h4 class="purple-text1"> <u>Hobbies & Interests </u></h4>
                  </div>
                  <label class="form-control1">
                  {% csrf_token %}
                  {% for field in form %}
                  {{ field.label }}
                  <ul style="columns: 3; -webkit-columns: 3; -moz-columns: 3;">
                     {{ field }}
                  </ul>
                  <hr id="linebreak">
                  {% endfor %}
                  {{ form.errors }}
               </label>
                  <div class="form-row">
                     <div class="col-lg-5">
                        <button type="submit" style="margin-left:580px;" class="standard_button"> Done</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}