{% extends 'users/dashboard_base.html' %}
{% load static %}

  

{% block body %}

<link rel="stylesheet" href="{% static 'css/pref_css.css' %}">
<style>
   .profile-pic{
      max-width: 200px;
      max-height:200px;
      margin: 0 auto;
      border-radius: 50%;
      margin-top: 20px;
      margin-left: 320px;
   }
</style>
<div class="container">
   <div class="row gutters">
      <div class="card h-100" style="transform:translateY(50px)">
         <div class="card-body">
            
            
            <div class="title"> <h2 >Add Preferences</h2> </div>

            <div class="account-settings ">
               <div class="user-profile">
                  <!-- <div class="user-avatar">
                     <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Maxwell Admin">
                  </div> -->
                  <div class="col-md-3">
                     <img class="profile-pic" src="{{request.user.profile.image.url}}" >
                  </div> 
                  <p class="purple-text"> Welcome, {{user.first_name}}! </p>
                  <!-- <p class="purple-text", style="font-size:20px"> {{ user.email }}</p> -->
               </div>
               <!-- <div class="about"> -->
                  <!-- <h4 class="purple-text1"  >About Me</h4> -->
<!--                   {% csrf_token %} -->
                   <!-- {{ form.bio }}  -->
            </div>
               <form class="rounded-5 shadow-5-strong p-5 " method="post">
                  <div>
                  <h4 class="purple-text1"> Personality Questions </h4>
                  </div>
                  {% csrf_token %}
                  {% for field in form %}
                  {{ field.label }}
                  <ul style="columns: 2; -webkit-columns: 2; -moz-columns: 2;">
                     {{ field }}
                  </ul>
                  <hr id="linebreak">
                  {% endfor %}
                  {{ form.errors }}
                  <div class="form-row">
                     <div class="col-lg-5">
                        <button type="submit" style="margin-left:580px;" class="standard_button">Next Page</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}